<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Portafolio</h1>
    <h2><strong>Antonio Ramirez Monsalve</strong></h2>
    <h4>Desarrollador Web junior</h4>
    <div fxLayout="row" fxLayoutGap="10">
      <a
        href="https://github.com/aramirezm89"
        title="Git-Hub"
        target="_blank"
        pButton
        pRipple
        type="button"
        icon="pi pi-github"
        class="p-button-rounded"
      ></a>
      <a
        href="https://www.linkedin.com/in/antonio-ramirez-33b183232"
        title="Linkedin"
        target="_blank"
        pButton
        pRipple
        type="button"
        icon="pi pi-linkedin"
        class="p-button-rounded"
      ></a>

      <a
        href="https://drive.google.com/file/d/1PQ_4bjP91-BfoJ5aEVpvsCGUKMLhUD_l/view?usp=sharing"
        title="Curriculum"
        target="_blank"
        pButton
        pRipple
        type="button"
        icon="pi pi-download"
        class="p-button-rounded"
      >
      </a>
    </div>
  </div>
</div>

<div fxLayout="row">
  <p-divider></p-divider>
</div>

<div fxLayout="row">
  <p-card
    header="Quien soy"
    [style]="{ width: '100%', 'margin-bottom': '2em' }"
  >
    <ng-template pTemplate="header">
      <i class="pi pi-id-card iconCard"></i>
    </ng-template>
    <p>
      Profesional apasionado por el codigo y el aprendizaje continuo, titulado
      el año 2021 como <strong>Programador computacional </strong>, lleno de
      ganas y entusiasmo por integrarme al mundo laboral. Me apasiona el
      desarrollo web de la mano de <strong> Angular, Node Js y C#</strong>,
      lenguajes con los cuales estoy en constante especialización.
    </p>
  </p-card>
</div>

<!-- tecnologias -------------------------------------------------------------------------------->
<div class="row" fxLayoutAlign="center center">
  <span><i class="pi pi-desktop iconTitle"></i></span>
  <h1>Tecnologias</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40" *ngFor="let tecnologia of tecnologias">
    <app-tecnologia-tarjeta [tecnologia]="tecnologia" ></app-tecnologia-tarjeta>
  </div>
</div>



<!-- Proyectos ------------------------------------------------------------------------------------->
<div class="row" fxLayoutAlign="center center">
  <span><i class="pi pi-cog iconTitle"></i></span>
  <h1>Proyectos</h1>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40" *ngFor="let proyecto of proyectos">
    <app-proyecto-tarjeta [proyecto]="proyecto"></app-proyecto-tarjeta>
  </div>
</div>

