<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Portafolio</h1>
    <h2><strong>Antonio Ramirez Monsalve</strong></h2>
    <h4>Desarrollador Web junior</h4>
    <div fxLayout="row" fxLayoutGap="10">
      <a
        href="https://github.com/aramirezm89"
        title="Git-Hub"
        target="_blank"
        pButton
        pRipple
        type="button"
        icon="pi pi-github"
        class="p-button-rounded"
      ></a>
      <a
        href="https://www.linkedin.com/in/antonio-ramirez-33b183232"
        title="Linkedin"
        target="_blank"
        pButton
        pRipple
        type="button"
        icon="pi pi-linkedin"
        class="p-button-rounded"
      ></a>
    </div>
  </div>
</div>

<div fxLayout="row">
  <p-divider></p-divider>
</div>

<div fxLayout="row">
  <p-card
    header="Quien soy"
    [style]="{ width: '100%', 'margin-bottom': '2em' }"
  >
    <ng-template pTemplate="header">
      <i class="pi pi-id-card iconCard"></i>
    </ng-template>
    <p>
      Profesional apasionado por el codigo y el aprendizaje continuo, titulado
      el año 2021 como <strong>Programador computacional </strong>, lleno de
      ganas y entusiasmo por integrarme al mundo laboral. Me apasiona el
      desarrollo web de la mano de <strong> Angular, Node Js y C#</strong>,
      lenguajes con los cuales estoy en constante especialización.
    </p>
  </p-card>
</div>

<div class="row" fxLayoutAlign="center center">
  <span><i class="pi pi-desktop iconTecnology"></i></span>
  <h1>Tecnologias</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40">
    <p-card
      header="Lenguajes"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"
      />
    </p-card>
  </div>

  <div fxLayout="column" fxFlex="40">
    <p-card
      header="Base de Datos"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>

      <i class="devicon-microsoftsqlserver-plain-wordmark sqlIcon"></i>

      <i class="devicon-mongodb-plain-wordmark sqlIcon"></i>
    </p-card>
  </div>

  <div fxLayout="column" fxFlex="30">
    <p-card
      header="Backend"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
      />


            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />

    </p-card>
  </div>

  <div fxLayout="column" fxFlex="30">
    <p-card
      header="Frontend"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
      />
    </p-card>
  </div>

  <div fxLayout="column" fxFlex="30">
    <p-card
      header="Maquetación"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg"
      />
    </p-card>
  </div>

  <div fxLayout="column" fxFlex="30">
    <p-card
      header="Control de versiones"
      [style]="{ width: '100%', 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header">
        <i class="pi pi-code iconCard"></i>
      </ng-template>



            <i class="devicon-git-plain-wordmark colored sqlIcon"></i>



            <i class="devicon-github-original-wordmark sqlIcon"></i>




    </p-card>
  </div>
</div>

<div class="row" fxLayoutAlign="center center">
  <span><i class="pi pi-cog iconTecnology"></i></span>
  <h1>Proyectos</h1>
</div>
