<app-menubar> </app-menubar>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Portafolio</h1>
    <h2><strong>Antonio Ramirez Monsalve</strong></h2>
    <h4>Desarrollador Web junior</h4>

  </div>
</div>

<div fxLayout="row">
  <p-divider></p-divider>
</div>

<div fxLayout="row"  id="quienSoy" >
  <p-card
    header="Sobre mi"
    [style]="{ width: '100%', 'margin-bottom': '2em' }"
  >
    <ng-template pTemplate="header">
      <img src="https://avatars.githubusercontent.com/u/63063271?v=4" class="mi-imagen" alt="Antonio Ramirez Monsalve">
    </ng-template>
    <p>
      Profesional apasionado por el codigo y el aprendizaje continuo, titulado
      el año 2021 como <strong>Programador computacional </strong>, lleno de
      ganas y entusiasmo por integrarme al mundo laboral. Me apasiona el
      desarrollo web de la mano de <strong> Angular, Node Js y C#</strong>,
      lenguajes con los cuales estoy en constante especialización. <br><br>
      Dentro de mis habilidades blandas se encuntran: El trabajo en equipo, curiosidad,
      actitud positiva, honestidad, adaptación al cambio y la resolución de conflictos, entre otras.

    </p>
  </p-card>
</div>

<!-- tecnologias -------------------------------------------------------------------------------->
<div class="row" fxLayoutAlign="center center">
  <span><i class="pi pi-desktop iconTitle"></i></span>
  <h1>Tecnologias</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40" *ngFor="let tecnologia of tecnologias">
    <app-tecnologia-tarjeta [tecnologia]="tecnologia"></app-tecnologia-tarjeta>
  </div>
</div>

<!-- Proyectos ------------------------------------------------------------------------------------->
<div class="row" id="proyectos" fxLayoutAlign="center center">
  <span><i class="pi pi-cog iconTitle"></i></span>
  <h1>Proyectos</h1>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40" *ngFor="let proyecto of proyectos">
    <app-proyecto-tarjeta [proyecto]="proyecto"></app-proyecto-tarjeta>
  </div>
</div>

<!-- galeria-------------------- -->

<div class="row" id="galeria" fxLayoutAlign="center center">
  <span><i class="pi pi-book iconTitle"></i></span>
  <h1 id="titulo">Título profesional y certificados de cursos</h1>
</div>

<div fxLayout="row "fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="50" fxFlex.xs="100" >
   <p-card>
     <p-galleria
      [(value)]="images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{'max-width': '800px'}"
      [numVisible]="5"
      [circular]="true"
      [autoPlay]="true"
      [transitionInterval]="2000"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item.previewImageSrc"
          style="width: 100%; height: 100%;"
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div >
          <img  class="thumbnail"[src]="item.thumbnailImageSrc"  />
        </div>
      </ng-template>
    </p-galleria>
   </p-card>
  </div>
</div>
