<p-menubar
  [model]="items"
  [style]="{ alignItems: 'center', texAlign: 'center' }"
>
  <ng-template pTemplate="start">
   <div fxLayout="row" fxLayoutAlign="center center">
     <img src="https://avatars.githubusercontent.com/u/63063271?v=4">
    <span>Antonio Ramirez Monsalve</span>
   </div>
  </ng-template>



  <ng-template pTemplate="end"  >
   <div class="buttons">
      <a
      href="https://github.com/aramirezm89"
      title="Git-Hub"
      target="_blank"
      pButton
      pRipple
      type="button"
      icon="pi pi-github"
      class="p-button-rounded marginButton"
    ></a>
    <a
      href="https://www.linkedin.com/in/antonio-ramirez-33b183232"
      title="Linkedin"
      target="_blank"
      pButton
      pRipple
      type="button"
      icon="pi pi-linkedin"
      class="p-button-rounded"
    ></a>
 <a
      href="https://wa.me/56958633523"
      title="Git-Hub"
      target="_blank"
      pButton
      pRipple
      type="button"
      icon="pi pi-whatsapp"
      class="p-button-rounded marginButton"
    ></a>
    <a
      href="https://drive.google.com/file/d/1TLR_YL6TxY-gLoTavu9jNi7Fa24cUB1Q/view?usp=sharing"
      title="Curriculum"
      target="_blank"
      pButton
      pRipple
      type="button"
      icon="pi pi-download"
      class="p-button-rounded"
    >
    </a>
   </div>

  </ng-template>
</p-menubar>
